[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"

[dev-packages]
coverage = "6.4.3"
pytest = "7.1.2"
mypy = "0.971"
black = "22.6.0"
flake8 = "5.0.4"
colorama = "*"

[requires]
python_version = "3.8"
